<div class="modal-header">
  <h4 class="modal-title">Edit Recipe</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row custom-row">
    <div class="custom-container jumbotron" style="width: 100%">
      <form class="form-horizontal" [formGroup]="editRecipeForm" (ngSubmit)="saveRecipe()">
        <input type="hidden" formControlName="id" />
        <input type="hidden" formControlName="ownerEmail" />
        <fieldset>
          <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" placeholder="title" formControlName="title">
          </div>
          <div class="text-danger">
            <div *ngIf="editRecipeForm.get('title').hasError('required')">
              Please provide a title for the recipe
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" type="text" placeholder="description" formControlName="description"></textarea>
          </div>
          <div class="text-danger">
            <div *ngIf="editRecipeForm.get('description').hasError('required')">
              Please provide a description for the recipe
            </div>
          </div>
          <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control" type="text" placeholder="Notes" formControlName="notes"></textarea>
          </div>
          <button type="submit" [disabled]="!editRecipeForm.valid" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Cancel</button>
        </fieldset>
      </form>
    </div>
  </div>
  <div *ngIf="editRecipeError">
    <p>
      <ngb-alert type="danger" (close)="closeAlert()">
        There was an error saving the recipe, please try again
      </ngb-alert>
    </p>
  </div>
</div>
