<div class="modal-header">
  <h4 class="modal-title">Please sign in to continue</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row custom-row">
    <div class="custom-container jumbotron" style="width: 100%">
      <form class="form-horizontal" [formGroup]="signinForm" (ngSubmit)="signIn()">
        <fieldset>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" #email placeholder="email" formControlName="email">
          </div>
          <div class="text-danger">
            <div *ngIf="signinForm.get('email').hasError('required')">
              Email field can't be blank
            </div>
            <div *ngIf="signinForm.get('email').hasError('email')">
              The email id doesn't seem right
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" #password formControlName="password">
          </div>
          <div *ngIf="signinForm.get('password').hasError('minlength') && signinForm.get('password').touched" class="text-danger">
            Password needs to be more than 8 characters
          </div>
          <button type="submit" [disabled]="!signinForm.valid" class="btn btn-primary">Sign In</button>
          <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Cancel</button>
        </fieldset>
      </form>
    </div>
  </div>
  <div *ngIf="signinError">
    <p>
      <ngb-alert type="danger" (close)="closeAlert()">
      There was an error signing in, please try again
      </ngb-alert>
    </p>
  </div>
</div>
